<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Short Urls</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/short_urls.js" ></script>
    <script type="text/javascript" src="/static/jquery.clippy.min.js"></script>
    {% if analytics_tracking_id %}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ analytics_tracking_id }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
  </head>
  <body>
    <div class=page>
      <h1>Short URLs</h1>
      <form action="/" method="POST" id="shortenUrlForm">
        <input type="text" name="url_address" placeholder="URL address...">
        <input type="submit" value="Shorten">
      </form>
      <ul id="result"></ul>
    </div>
  </body>
</html>
